.grid {
    width: 80%;
    border: solid 2px black;
    border-top: 10px solid black;
    border-bottom: 10px solid black;
    min-width: 80%;
    margin-left: 10%;
}


.rows {
    background-color: none;
    font-size: 19px;
    color: white;
    min-height: 25px;
    text-align: left;
    border: none 0px transparent;
}


    .rows:hover {
        background-color: #edf5e1;
        opacity: 0.4;
        color: #000;
    }

.header {
    background-color: #edf5e1;
    opacity:0.4;
    color: black;
    border: none 0px transparent;
    height: 25px;
    text-align: left;
    font-size: 20px;
    font-variant:small-caps;
}


.grid td
 {
     padding: 5px;
    
}

.rid th
 {
     padding: 5px;
    
}